.banner {
    width: 1140px;
    height: 340px;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    img {
        padding: 30px;
    }
}