.carousel-container {
    position: relative;
    background: #fff;
    .img-container {
        background-image: url("../img/amazon-prime-video_francis_dr.jpg");
        background-position: center;
        background-size: cover;
        height: 477px;
        position: relative;
        .content {
            position: absolute;
            bottom: 72px;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            .subtitle,
            .title {
                text-transform: uppercase;
                padding: 0 8px;
            }
            .subtitle {
                font-weight: 500;
                color: #414141;
                background-color: rgb(255, 255, 255);
                display: inline;
            }
            .title {
                font-size: 3rem;
                font-weight: 700;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.75);
            }
        }
    }
    .arrow-left,
    .arrow-right {
        background-repeat: no-repeat;
        background-position: center;
        height: 477px;
        width: 60px;
        padding: 20px 0;
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    .arrow-right {
        background-image: url("../img/arrow-right.png");
        right: 0;
    }
    .arrow-left {
        background-image: url("../img/arrow-left.png");
        left: 0;
    }
    .owl-container {
        padding: 25px 0;
        .owl-pagination {
            display: flex;
            justify-content: center;
            span {
                background: #86979183;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
                &:hover {
                    background: #869791;
                }
            }
        }
    }
}
