.gif-vod-tv-section {
    display: flex;
    background: #fff;
    padding: 0 25px 100px 25px;
    .container {
        width: 50%;
        h2 {
            @include sectionTitle();
        }
        .gif-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .share {
            display: flex;
            justify-content: start;
            margin: 25px 50px;
            h5 {
                display: inline-block;
                margin: 0 9px 0 0;
                padding-right: 15px;
                border-right: 2px solid #414141;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-size: 1.25rem;
                height: 32px;
                line-height: 32px;
                font-weight: 200;
            }
            .social-networks {
                position: relative;
                a {
                    text-decoration: none;
                    padding: 0 2px;
                    transition: all 0.3s ease;
                }
                $snColors: (
                    "fb": rgb(59, 89, 152),
                    "tw": rgb(29, 161, 242),
                    "mgr": rgb(0, 132, 255),
                    "wa": rgb(77, 194, 71),
                    "pin": rgb(203, 32, 39),
                );

                @each $name, $color in $snColors {
                    .#{$name} {
                        color: $color;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        .vod-tv-container {
            .vod-container {
                padding: 0 15px;
                h2 {
                    @include sectionTitle();
                }
                .content {
                    a {
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        line-height: 19px;
                        padding: 7px 15px;
                        text-decoration: none;
                        color: #414141;
                        img.img-vod {
                            width: 100px;
                            flex: 1;
                            margin-right: 15px;
                            min-width: 100px;
                            max-width: 100px;
                        }
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
                &.tv-container {
                    padding-bottom: 25px;
                }
            }
            .more-diffusion {
                @include darkButton();
            }
        }
        .all-gifs-button {
            @include darkButton();
        }
        &:last-child {
            background: #f9f9f9;
        }
    }
}