/*****************
***** Mixins *****
*****************/
@mixin category {
    .category {
        display: block;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        span {
            display: inline-block;
            padding: 0 5px;
            background-color: $color-yellow;
            color: #fff;
        }
    }
}

@mixin image($maxWidth: 100%) {
    display: block;
    max-width: $maxWidth;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin desc-meta {
    .post-desc,
    .post-meta {
        display: block;
        font-family: "Montserrat", sans-serif;
        color: #8e8e8e;
    }
    .post-desc {
        font-size: 0.9375rem;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .post-meta {
        font-size: 0.6875rem;
        text-transform: uppercase;
        span:first-child {
            margin-right: 10px;
        }
    }
}


.news-section {
    background: #fff;
    padding-bottom: 100px;
    h2 {
        @include sectionTitle();
    }
    /*********************\
    |** Articles / Posts **|
    \*********************/
    .news-article {
        display: flex;
        padding: 0 30px;
        margin-bottom: 25px;
        height: 247px;
        color: #414141;
        cursor: pointer;
        .article-img {
            overflow: hidden;
            width: 50%;
            position: relative;
            img {
                @include image();
            }
        }
        .article-content {
            transition: all 0.3s ease;
        }
        &:hover img {
            transform: translate(-50%, -50%) scale(1.1);
        }
        &:hover .article-content {
            background: lighten(#414141, 70%);
        }

        .article-content {
            padding: 20px;
            width: 50%;
            @include category();
            .post-title {
                display: block;
                font-size: 1.75rem;
                font-weight: bold;
                margin-bottom: 15px;
            }
            @include desc-meta();
            &.right {
                .post-title,
                .post-desc,
                .post-meta {
                    text-align: right;
                }
            }
        }
    }

    .posts-article {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin-bottom: 15px;
        .news-inline {
            width: 23%;
            padding: 5px;
            cursor: pointer;
            .post-img {
                position: relative;
                overflow: hidden;
                height: 250px;
                margin-bottom: 15px;
                img {
                    @include image(180%);
                }
                .far.fa-play-circle {
                    font-size: 4.375rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99999;
                    color: #ffffff9f;
                }
            }
            .post-content {
                @include category();
                @include desc-meta();
                .post-title {
                    display: block;
                    color: #414141;
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                }
            }
            &:hover img {
                transform: translate(-50%, -50%) scale(1.1);
            }
            &:hover {
                background: lighten(#414141, 70%);
            }
        }
    }
    
    .more-article {
        @include darkButton();
    }
}
