*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdc800;
  font-family: "Roboto Condensed", sans-serif;
}
body main.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

::selection {
  background: #04a4cc;
  color: #fff;
}

.breadcrumb-container {
  padding: 5px 25px;
  background: #fff;
}
.breadcrumb-container .link-breadcrumb {
  font-size: 0.75rem;
  color: #8e8e8e;
}
.breadcrumb-container .link-breadcrumb a {
  font-family: "Montserrat", sans-serif;
  color: #8e8e8e;
  text-decoration: none;
}
.breadcrumb-container .link-breadcrumb a:hover {
  color: #fdc800;
}
.breadcrumb-container .link-breadcrumb:not(:first-child)::before {
  display: inline-block;
  content: " > ";
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1200px) {
  header, nav, main, footer, .characters {
    width: 100% !important;
  }
}
header .nav-container nav {
  background-color: white;
  width: 100%;
  border-bottom: 2px solid #414141;
  height: 50px;
  font-weight: 500;
}
header .nav-container nav ul.navbar {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: white;
  list-style: none;
  width: 1140px;
  margin: 0 auto;
  border-bottom: 2px solid #414141;
}
header .nav-container nav ul.navbar li.nav-item {
  position: relative;
  height: 50px;
  text-transform: uppercase;
  padding: 0 19px;
  line-height: 50px;
  z-index: 6;
}
header .nav-container nav ul.navbar li.nav-item:hover {
  background: #32302f;
}
header .nav-container nav ul.navbar li.nav-item:hover a,
header .nav-container nav ul.navbar li.nav-item:hover .fa-search {
  color: #fdc800;
}
header .nav-container nav ul.navbar li.nav-item a {
  text-decoration: none;
  color: #414141;
  font-style: 20px;
  font-size: 1.17rem;
  letter-spacing: -0.3px;
}
header .nav-container nav ul.navbar li.nav-item a .fa-search {
  color: #414141;
}
header .nav-container nav ul.navbar li.nav-item ul.submenu-container {
  position: fixed;
  background: #32302f;
  top: 47px;
  right: 0;
  list-style: none;
  display: none;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 400px;
}
header .nav-container nav ul.navbar li.nav-item ul.submenu-container li {
  position: relative;
  display: inline-block;
}
header .nav-container nav ul.navbar li.nav-item ul.submenu-container li a {
  display: block;
  padding: 15px 7px;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 18px;
}
header .nav-container nav ul.navbar li.nav-item ul.submenu-container li a:hover {
  color: #fdc800;
}
header .nav-container nav ul.navbar li.nav-item ul.submenu-container li:not(:last-child) a::after {
  content: " | ";
  color: #fff;
  padding-left: 7px;
}
header .nav-container nav ul.navbar li.nav-item:hover ul.submenu-container {
  display: flex;
}
header .nav-container nav ul.navbar .header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 48px;
  z-index: 999;
  display: none;
}

.characters {
  position: relative;
  padding-top: 118px;
  height: 118px;
  width: 1170px;
  margin: 0 auto;
}
.characters .character {
  background: no-repeat center center;
  background-size: cover;
  max-width: 100%;
  position: absolute;
  top: 0;
  height: 118px;
  transition: all 0.3s ease;
}
.characters .character.dewey {
  background-image: url("./img/character-dewey.png");
  margin-left: -110px;
  width: 220px;
  left: 36%;
  z-index: 2;
}
.characters .character.reese {
  background-image: url("./img/character-reese.png");
  margin-left: -108.5px;
  width: 217px;
  z-index: 3;
  left: 41.5%;
}
.characters .character.lois {
  background-image: url("./img/character-lois.png");
  margin-right: -117.5px;
  right: 29.5%;
  width: 235px;
  z-index: 1;
}
.characters .character.malcolm {
  background-image: url("./img/character-malcolm.png");
  left: 50%;
  margin-left: -133px;
  width: 266px;
  z-index: 4;
}
.characters .character.francis {
  background-image: url("./img/character-francis.png");
  margin-right: -104px;
  width: 208px;
  z-index: 3;
  right: 41%;
}
.characters .character.hal {
  background-image: url("./img/character-hal.png");
  margin-right: -96px;
  width: 192px;
  z-index: 2;
  right: 33.5%;
}
.characters .logo {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  height: 118px;
}

@media screen and (max-width: 1200px) {
  .characters .logo {
    display: none;
  }

  header .nav-container nav .navbar .header-logo {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .characters .lois {
    display: none;
  }

  header .nav-container nav .navbar .nav-item {
    padding: 0 10px;
  }
}
.banner {
  width: 1140px;
  height: 340px;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.banner img {
  padding: 30px;
}

.carousel-container {
  position: relative;
  background: #fff;
}
.carousel-container .img-container {
  background-image: url("../img/amazon-prime-video_francis_dr.jpg");
  background-position: center;
  background-size: cover;
  height: 477px;
  position: relative;
}
.carousel-container .img-container .content {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.carousel-container .img-container .content .subtitle,
.carousel-container .img-container .content .title {
  text-transform: uppercase;
  padding: 0 8px;
}
.carousel-container .img-container .content .subtitle {
  font-weight: 500;
  color: #414141;
  background-color: white;
  display: inline;
}
.carousel-container .img-container .content .title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}
.carousel-container .arrow-left,
.carousel-container .arrow-right {
  background-repeat: no-repeat;
  background-position: center;
  height: 477px;
  width: 60px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.carousel-container .arrow-right {
  background-image: url("../img/arrow-right.png");
  right: 0;
}
.carousel-container .arrow-left {
  background-image: url("../img/arrow-left.png");
  left: 0;
}
.carousel-container .owl-container {
  padding: 25px 0;
}
.carousel-container .owl-container .owl-pagination {
  display: flex;
  justify-content: center;
}
.carousel-container .owl-container .owl-pagination span {
  background: #86979183;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-container .owl-container .owl-pagination span:hover {
  background: #869791;
}

/*****************
***** Mixins *****
*****************/
.news-section {
  background: #fff;
  padding-bottom: 100px;
  /*********************\
  |** Articles / Posts **|
  \*********************/
}
.news-section h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.news-section h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.news-section h2 span::before, .news-section h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.news-section h2 span::before {
  left: 0;
}
.news-section h2 span::after {
  right: 0;
}
.news-section .news-article {
  display: flex;
  padding: 0 30px;
  margin-bottom: 25px;
  height: 247px;
  color: #414141;
  cursor: pointer;
}
.news-section .news-article .article-img {
  overflow: hidden;
  width: 50%;
  position: relative;
}
.news-section .news-article .article-img img {
  display: block;
  max-width: 100%;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-section .news-article .article-content {
  transition: all 0.3s ease;
}
.news-section .news-article:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
.news-section .news-article:hover .article-content {
  background: #f4f4f4;
}
.news-section .news-article .article-content {
  padding: 20px;
  width: 50%;
}
.news-section .news-article .article-content .category {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.news-section .news-article .article-content .category span {
  display: inline-block;
  padding: 0 5px;
  background-color: #fdc800;
  color: #fff;
}
.news-section .news-article .article-content .post-title {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.news-section .news-article .article-content .post-desc,
.news-section .news-article .article-content .post-meta {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #8e8e8e;
}
.news-section .news-article .article-content .post-desc {
  font-size: 0.9375rem;
  line-height: 22px;
  margin-bottom: 15px;
}
.news-section .news-article .article-content .post-meta {
  font-size: 0.6875rem;
  text-transform: uppercase;
}
.news-section .news-article .article-content .post-meta span:first-child {
  margin-right: 10px;
}
.news-section .news-article .article-content.right .post-title,
.news-section .news-article .article-content.right .post-desc,
.news-section .news-article .article-content.right .post-meta {
  text-align: right;
}
.news-section .posts-article {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-bottom: 15px;
}
.news-section .posts-article .news-inline {
  width: 23%;
  padding: 5px;
  cursor: pointer;
}
.news-section .posts-article .news-inline .post-img {
  position: relative;
  overflow: hidden;
  height: 250px;
  margin-bottom: 15px;
}
.news-section .posts-article .news-inline .post-img img {
  display: block;
  max-width: 180%;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-section .posts-article .news-inline .post-img .far.fa-play-circle {
  font-size: 4.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  color: #ffffff9f;
}
.news-section .posts-article .news-inline .post-content .category {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.news-section .posts-article .news-inline .post-content .category span {
  display: inline-block;
  padding: 0 5px;
  background-color: #fdc800;
  color: #fff;
}
.news-section .posts-article .news-inline .post-content .post-desc,
.news-section .posts-article .news-inline .post-content .post-meta {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #8e8e8e;
}
.news-section .posts-article .news-inline .post-content .post-desc {
  font-size: 0.9375rem;
  line-height: 22px;
  margin-bottom: 15px;
}
.news-section .posts-article .news-inline .post-content .post-meta {
  font-size: 0.6875rem;
  text-transform: uppercase;
}
.news-section .posts-article .news-inline .post-content .post-meta span:first-child {
  margin-right: 10px;
}
.news-section .posts-article .news-inline .post-content .post-title {
  display: block;
  color: #414141;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.news-section .posts-article .news-inline:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
.news-section .posts-article .news-inline:hover {
  background: #f4f4f4;
}
.news-section .more-article {
  text-align: center;
}
.news-section .more-article a {
  display: inline-block;
  height: 30px;
  background: #414141;
  color: #fdc800;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  transition: all 0.3s ease;
}
.news-section .more-article a i {
  margin-right: 5px;
}
.news-section .more-article a:hover {
  background: #fdc800;
  color: #414141;
}

.gif-vod-tv-section {
  display: flex;
  background: #fff;
  padding: 0 25px 100px 25px;
}
.gif-vod-tv-section .container {
  width: 50%;
}
.gif-vod-tv-section .container h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.gif-vod-tv-section .container h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.gif-vod-tv-section .container h2 span::before, .gif-vod-tv-section .container h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.gif-vod-tv-section .container h2 span::before {
  left: 0;
}
.gif-vod-tv-section .container h2 span::after {
  right: 0;
}
.gif-vod-tv-section .container .gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif-vod-tv-section .container .share {
  display: flex;
  justify-content: start;
  margin: 25px 50px;
}
.gif-vod-tv-section .container .share h5 {
  display: inline-block;
  margin: 0 9px 0 0;
  padding-right: 15px;
  border-right: 2px solid #414141;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  height: 32px;
  line-height: 32px;
  font-weight: 200;
}
.gif-vod-tv-section .container .share .social-networks {
  position: relative;
}
.gif-vod-tv-section .container .share .social-networks a {
  text-decoration: none;
  padding: 0 2px;
  transition: all 0.3s ease;
}
.gif-vod-tv-section .container .share .social-networks .fb {
  color: #3b5998;
}
.gif-vod-tv-section .container .share .social-networks .fb:hover {
  opacity: 0.5;
}
.gif-vod-tv-section .container .share .social-networks .tw {
  color: #1da1f2;
}
.gif-vod-tv-section .container .share .social-networks .tw:hover {
  opacity: 0.5;
}
.gif-vod-tv-section .container .share .social-networks .mgr {
  color: #0084ff;
}
.gif-vod-tv-section .container .share .social-networks .mgr:hover {
  opacity: 0.5;
}
.gif-vod-tv-section .container .share .social-networks .wa {
  color: #4dc247;
}
.gif-vod-tv-section .container .share .social-networks .wa:hover {
  opacity: 0.5;
}
.gif-vod-tv-section .container .share .social-networks .pin {
  color: #cb2027;
}
.gif-vod-tv-section .container .share .social-networks .pin:hover {
  opacity: 0.5;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container {
  padding: 0 15px;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container h2 span::before, .gif-vod-tv-section .container .vod-tv-container .vod-container h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container h2 span::before {
  left: 0;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container h2 span::after {
  right: 0;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container .content a {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 19px;
  padding: 7px 15px;
  text-decoration: none;
  color: #414141;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container .content a img.img-vod {
  width: 100px;
  flex: 1;
  margin-right: 15px;
  min-width: 100px;
  max-width: 100px;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container .content a:hover {
  color: #fdc800;
}
.gif-vod-tv-section .container .vod-tv-container .vod-container.tv-container {
  padding-bottom: 25px;
}
.gif-vod-tv-section .container .vod-tv-container .more-diffusion {
  text-align: center;
}
.gif-vod-tv-section .container .vod-tv-container .more-diffusion a {
  display: inline-block;
  height: 30px;
  background: #414141;
  color: #fdc800;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  transition: all 0.3s ease;
}
.gif-vod-tv-section .container .vod-tv-container .more-diffusion a i {
  margin-right: 5px;
}
.gif-vod-tv-section .container .vod-tv-container .more-diffusion a:hover {
  background: #fdc800;
  color: #414141;
}
.gif-vod-tv-section .container .all-gifs-button {
  text-align: center;
}
.gif-vod-tv-section .container .all-gifs-button a {
  display: inline-block;
  height: 30px;
  background: #414141;
  color: #fdc800;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  transition: all 0.3s ease;
}
.gif-vod-tv-section .container .all-gifs-button a i {
  margin-right: 5px;
}
.gif-vod-tv-section .container .all-gifs-button a:hover {
  background: #fdc800;
  color: #414141;
}
.gif-vod-tv-section .container:last-child {
  background: #f9f9f9;
}

.tv-area {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 0 25px 100px 25px;
}
.tv-area .left-block {
  width: 40%;
  background: #32302f;
  padding: 15px 15px 15px 0;
}
.tv-area .left-block h2 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0 25px 15px;
  line-height: 1;
  font-weight: 700;
  position: relative;
}
.tv-area .left-block h2 span {
  padding: 0 85px;
}
.tv-area .left-block h2 span::before, .tv-area .left-block h2 span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 4px;
  width: 80px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tv-area .left-block h2 span::before {
  left: 0;
}
.tv-area .left-block h2 span::after {
  right: 0;
}
.tv-area .left-block .container article {
  margin: 15px 0;
}
.tv-area .left-block .container article a {
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease;
}
.tv-area .left-block .container article a .left-block-img-container {
  overflow: hidden;
  width: 50%;
  position: relative;
  margin-right: 15px;
}
.tv-area .left-block .container article a .left-block-img-container .far {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.534);
  z-index: 99999;
}
.tv-area .left-block .container article a .left-block-img-container img {
  max-width: 100%;
  transition: all 0.3s ease;
}
.tv-area .left-block .container article a .left-block-content {
  width: 50%;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
.tv-area .left-block .container article a .left-block-content .category {
  display: block;
  color: #fdc800;
  padding-bottom: 10px;
}
.tv-area .left-block .container article a .left-block-content .title {
  font-size: 1.25rem;
  line-height: 1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.tv-area .left-block .container article a:hover img {
  transform: scale(1.1);
}
.tv-area .left-block .container article a:hover {
  background: #4c4948;
}
.tv-area .left-block .all-movies-button {
  margin: 20px 0;
  text-align: center;
}
.tv-area .left-block .all-movies-button a {
  display: inline-block;
  height: 30px;
  background: #414141;
  color: #fdc800;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  transition: all 0.3s ease;
}
.tv-area .left-block .all-movies-button a i {
  margin-right: 5px;
}
.tv-area .left-block .all-movies-button a:hover {
  background: #fdc800;
  color: #414141;
}
.tv-area .right-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tv-area .right-block .img-container {
  overflow: hidden;
  position: relative;
}
.tv-area .right-block .img-container span img {
  display: block;
  max-width: 156%;
  transition: all 0.3s ease;
}
.tv-area .right-block .img-container .far {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.39);
  font-size: 8.75rem;
  z-index: 99999;
}
.tv-area .right-block .img-container:hover img {
  transform: scale(1.1);
}

.other-section {
  background: #fff;
  padding-bottom: 100px;
}
.other-section h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.other-section h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.other-section h2 span::before, .other-section h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.other-section h2 span::before {
  left: 0;
}
.other-section h2 span::after {
  right: 0;
}
.other-section .other-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 0 30px;
}
.other-section .other-container article {
  height: 250px;
  overflow: hidden;
}
.other-section .other-container article:nth-child(1) {
  grid-column: 1/2;
}
.other-section .other-container article:nth-child(2) {
  grid-column: 2/4;
}
.other-section .other-container article:nth-child(3) {
  grid-column: 4/5;
}
.other-section .other-container article:nth-child(4) {
  grid-column: 1/3;
}
.other-section .other-container article:nth-child(5) {
  grid-column: 3/4;
}
.other-section .other-container article:nth-child(6) {
  grid-column: 4/5;
}
.other-section .other-container article .img-other-container {
  position: relative;
}
.other-section .other-container article .img-other-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease;
}
.other-section .other-container article .img-other-container .content-container {
  transition: all 0.3s ease;
}
.other-section .other-container article .img-other-container .content-container .title {
  display: block;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 15px;
}
.other-section .other-container article .img-other-container .content-container .desc {
  display: block;
  opacity: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: opacity 0.3s ease;
}
.other-section .other-container article:hover .img-other-container img {
  transform: translate(-50%, 0) scale(1.1);
}
.other-section .other-container article:nth-child(1) .img-other-container img,
.other-section .other-container article:nth-child(3) .img-other-container img,
.other-section .other-container article:nth-child(5) .img-other-container img,
.other-section .other-container article:nth-child(6) .img-other-container img {
  max-width: 180%;
}
.other-section .other-container article:nth-child(1) .img-other-container .content-container,
.other-section .other-container article:nth-child(3) .img-other-container .content-container,
.other-section .other-container article:nth-child(5) .img-other-container .content-container,
.other-section .other-container article:nth-child(6) .img-other-container .content-container {
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
.other-section .other-container article:nth-child(1) .img-other-container .content-container .category,
.other-section .other-container article:nth-child(3) .img-other-container .content-container .category,
.other-section .other-container article:nth-child(5) .img-other-container .content-container .category,
.other-section .other-container article:nth-child(6) .img-other-container .content-container .category {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.other-section .other-container article:nth-child(1) .img-other-container .content-container .category span,
.other-section .other-container article:nth-child(3) .img-other-container .content-container .category span,
.other-section .other-container article:nth-child(5) .img-other-container .content-container .category span,
.other-section .other-container article:nth-child(6) .img-other-container .content-container .category span {
  background: #fdc800;
  padding: 0 8px;
}
.other-section .other-container article:nth-child(1):hover .img-other-container .content-container,
.other-section .other-container article:nth-child(3):hover .img-other-container .content-container,
.other-section .other-container article:nth-child(5):hover .img-other-container .content-container,
.other-section .other-container article:nth-child(6):hover .img-other-container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.other-section .other-container article:nth-child(1):hover .img-other-container .content-container .desc,
.other-section .other-container article:nth-child(3):hover .img-other-container .content-container .desc,
.other-section .other-container article:nth-child(5):hover .img-other-container .content-container .desc,
.other-section .other-container article:nth-child(6):hover .img-other-container .content-container .desc {
  opacity: 1;
}
.other-section .other-container article:nth-child(2) .img-other-container img,
.other-section .other-container article:nth-child(4) .img-other-container img {
  max-width: 100%;
}
.other-section .other-container article:nth-child(2) .img-other-container .content-container,
.other-section .other-container article:nth-child(4) .img-other-container .content-container {
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 25%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
.other-section .other-container article:nth-child(2) .img-other-container .content-container .category,
.other-section .other-container article:nth-child(4) .img-other-container .content-container .category {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.other-section .other-container article:nth-child(2) .img-other-container .content-container .category span,
.other-section .other-container article:nth-child(4) .img-other-container .content-container .category span {
  background: #fdc800;
  padding: 0 8px;
}
.other-section .other-container article:nth-child(2):hover .img-other-container .content-container,
.other-section .other-container article:nth-child(4):hover .img-other-container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.other-section .other-container article:nth-child(2):hover .img-other-container .content-container .desc,
.other-section .other-container article:nth-child(4):hover .img-other-container .content-container .desc {
  opacity: 1;
}

.footer-section {
  width: 1140px;
  margin: 0 auto;
  background: #32302f;
  color: #fff;
}
.footer-section .upper {
  padding: 27px 0;
}
.footer-section .upper h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 5px;
}
.footer-section .upper .footer-sn {
  display: flex;
  justify-content: center;
}
.footer-section .upper .footer-sn a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  font-size: 2.125rem;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.footer-section .upper .footer-sn a i {
  transition: all 0.1s ease;
}
.footer-section .upper .sn-fb {
  color: #3b5998;
}
.footer-section .upper .sn-fb:hover {
  color: #3b5998;
  border-color: #3b5998;
}
.footer-section .upper .sn-fb:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-tw {
  color: #1da1f2;
}
.footer-section .upper .sn-tw:hover {
  color: #1da1f2;
  border-color: #1da1f2;
}
.footer-section .upper .sn-tw:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-tt {
  color: #ffffff;
}
.footer-section .upper .sn-tt:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.footer-section .upper .sn-tt:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-yt {
  color: #e62117;
}
.footer-section .upper .sn-yt:hover {
  color: #e62117;
  border-color: #e62117;
}
.footer-section .upper .sn-yt:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-ttv {
  color: #6117d1;
}
.footer-section .upper .sn-ttv:hover {
  color: #6117d1;
  border-color: #6117d1;
}
.footer-section .upper .sn-ttv:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-pin {
  color: #cb2027;
}
.footer-section .upper .sn-pin:hover {
  color: #cb2027;
  border-color: #cb2027;
}
.footer-section .upper .sn-pin:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-ins {
  color: #ee4d5e;
}
.footer-section .upper .sn-ins:hover {
  color: #ee4d5e;
  border-color: #ee4d5e;
}
.footer-section .upper .sn-ins:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-sna {
  color: #f7f400;
}
.footer-section .upper .sn-sna:hover {
  color: #f7f400;
  border-color: #f7f400;
}
.footer-section .upper .sn-sna:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-spo {
  color: #1ed760;
}
.footer-section .upper .sn-spo:hover {
  color: #1ed760;
  border-color: #1ed760;
}
.footer-section .upper .sn-spo:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-li {
  color: #0a66c2;
}
.footer-section .upper .sn-li:hover {
  color: #0a66c2;
  border-color: #0a66c2;
}
.footer-section .upper .sn-li:hover i {
  font-size: 2.5rem;
}
.footer-section .upper .sn-rss {
  color: #dd6e2b;
}
.footer-section .upper .sn-rss:hover {
  color: #dd6e2b;
  border-color: #dd6e2b;
}
.footer-section .upper .sn-rss:hover i {
  font-size: 2.5rem;
}
.footer-section .lower {
  padding: 13px 27px;
  background: linear-gradient(#4d4d4d, #39393b);
  position: relative;
  height: 73px;
  font-family: "Montserrat", sans-serif;
  color: #d0d0d0;
}
.footer-section .lower .footer-menu ul {
  list-style: none;
  height: 23px;
}
.footer-section .lower .footer-menu ul li {
  display: inline-block;
}
.footer-section .lower .footer-menu ul li:not(:first-child)::before {
  content: "|";
  color: #515151;
  display: inline-block;
  margin-right: 5px;
}
.footer-section .lower .footer-menu ul li a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 0.75rem;
}
.footer-section .lower .footer-menu ul li a:hover {
  text-decoration: underline;
}
.footer-section .lower .copy-right {
  font-size: 13.3px;
  line-height: 22px;
}
.footer-section .lower .copy-right .tiret {
  color: #515151;
}
.footer-section .lower .footer-logo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact-form-container {
  background: #fff;
  padding: 0 25px 100px 25px;
}
.contact-form-container h1.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 42px;
  color: #414141;
  margin-bottom: 50px;
}
.contact-form-container h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.contact-form-container h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.contact-form-container h2 span::before, .contact-form-container h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.contact-form-container h2 span::before {
  left: 0;
}
.contact-form-container h2 span::after {
  right: 0;
}
.contact-form-container p {
  color: #414141;
  font-size: 0.9375rem;
  line-height: 22px;
  margin: 0 0 30px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.contact-form-container p a {
  color: #414141;
  text-decoration: none;
  background-image: linear-gradient(180deg, #fdc800, #fdc800);
  background-position: 0 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
}
.contact-form-container p a:hover, .contact-form-container p a:focus {
  background-position: 0 0;
}
.contact-form-container .form form input,
.contact-form-container .form form select,
.contact-form-container .form form textarea {
  display: block;
  height: 34px;
  padding: 6px 12px;
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.43;
  color: #555;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "MontSerrat", sans-serif;
}
.contact-form-container .form form input:focus,
.contact-form-container .form form select:focus,
.contact-form-container .form form textarea:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.contact-form-container .form form input::placeholder,
.contact-form-container .form form select::placeholder,
.contact-form-container .form form textarea::placeholder {
  color: #a7a7a7;
}
.contact-form-container .form form input {
  width: 100%;
}
.contact-form-container .form form .name-group {
  display: flex;
}
.contact-form-container .form form .name-group input {
  width: 50%;
}
.contact-form-container .form form .name-group input:first-child {
  margin-right: 15px;
}
.contact-form-container .form form .name-group input:last-child {
  margin-left: 15px;
}
.contact-form-container .form form textarea {
  width: 100%;
  height: 214px;
  resize: none;
}
.contact-form-container .form form .button-group {
  display: flex;
  justify-content: flex-end;
  margin: 50px 100px 25px 0;
}
.contact-form-container .form form .button-group button {
  background: #414141;
  border: none;
  outline: none;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9375rem;
  color: #fdc800;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-form-container .form form .button-group button:hover {
  color: #414141;
  background: #fdc800;
}
.contact-form-container .form form .select-group {
  width: 50%;
  padding-right: 20px;
  margin: 20px 0;
}
.contact-form-container .form form .select-group select {
  width: 100%;
  font-size: 14px;
  font-family: "MontSerrat", sans-serif;
}

.characters-container {
  background: #fff;
  padding: 0 25px 100px 25px;
}
.characters-container h2 {
  text-transform: uppercase;
  color: #fdc800;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 20px 0;
}
.characters-container h2 span {
  padding: 0 90px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.characters-container h2 span::before, .characters-container h2 span::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  border-top: 1px solid #fdc800;
  border-bottom: 1px solid #fdc800;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.characters-container h2 span::before {
  left: 0;
}
.characters-container h2 span::after {
  right: 0;
}
.characters-container p {
  color: #414141;
  font-size: 0.9375rem;
  line-height: 22px;
  margin: 0 0 30px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.characters-container .characters-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  padding: 0 30px;
}
.characters-container .characters-list article {
  height: 250px;
  overflow: hidden;
  grid-column: 1fr;
}
.characters-container .characters-list article .img-other-container {
  position: relative;
}
.characters-container .characters-list article .img-other-container img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease;
}
.characters-container .characters-list article .img-other-container .content-container {
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 25%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: all 0.3s ease;
}
.characters-container .characters-list article .img-other-container .content-container .category {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.characters-container .characters-list article .img-other-container .content-container .category span {
  background: #fdc800;
  padding: 0 8px;
}
.characters-container .characters-list article .img-other-container .content-container .title {
  display: block;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 15px;
}
.characters-container .characters-list article .img-other-container .content-container .desc {
  display: block;
  opacity: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: opacity 0.3s ease;
}
.characters-container .characters-list article:hover .img-other-container img {
  transform: translate(-50%, 0) scale(1.1);
}
.characters-container .characters-list article:hover .img-other-container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.characters-container .characters-list article:hover .img-other-container .content-container .desc {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
